<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. test@mail.ru">
    <mat-error *ngIf="formControls.email.touched && formControls.email.errors?.email">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="(formControls.email.touched || submitted) && formControls.email.errors?.required">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="(formControls.password.touched || submitted) && formControls.password.errors?.required">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<button type="submit" mat-raised-button color="primary">Sign in</button>
</form>

