<div class="container">
  <div class="row">
    <div class="col-4">
      <h3 *ngIf="!searchContacts; else elseBlock">Contacts</h3>
      <ng-template #elseBlock><h3>Searched contacts</h3></ng-template>
      <input
        [ngModel]="searchText"
        (ngModelChange)="searchModelChanged.next($event)"
        class="form-control form-control-sm"
        type="text"
        placeholder="Search in contacts"
      />

      <div *ngIf="!searchContacts">
        <div class="list-group scrollingDiv">
          <a
            *ngFor="let contact of contacts"
            (click)="currentContact = contact"
            [ngClass]="{ active: currentContact == contact }"
            href="#"
            class="list-group-item list-group-item-action"
            aria-current="true"
            >
            <strong>{{ contact.firstName }} {{ contact.lastName }}</strong>
          </a>
        </div>
      </div>
      <div *ngIf="searchContacts">
        <div class="list-group scrollingDiv">
          <a
            *ngFor="let contact of searchContacts"
            (click)="currentContact = contact"
            [ngClass]="{ active: currentContact == contact }"
            href="#"
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <strong>{{ contact.firstName }} {{ contact.lastName }}</strong>
          </a>
        </div>
      </div>
      <button type="button" class="btn btn-success" (click)="addContact()">
        Add contact
      </button>
    </div>

    <div class="col-4 contact-form detailedInfo">
      <form *ngIf="currentContact">
        <div class="mb-3">
          <h3>Detailed info</h3>
          <label for="firstNameInput" class="form-label">First name</label>
          <input
            class="form-control form-control-sm"
            id="firstNameInput"
            [(ngModel)]="currentContact.firstName"
            name="firstName"
          />
        </div>
        <div class="mb-3">
          <label for="lastNameInput" class="form-label">Last name</label>
          <input
            class="form-control form-control-sm"
            [(ngModel)]="currentContact.lastName"
            name="lastName"
            id="lastNameInput"
          />
        </div>
        <div class="mb-3">
          <label for="phoneNameInput" class="form-label">Phone</label>
          <input
            class="form-control form-control-sm"
            [(ngModel)]="currentContact.phone"
            name="phone"
            id="phoneNameInput"
          />
        </div>
        <button
          class="btn btn-danger"
          (click)="deleteThisContact(currentContact)"
        >
          Delete
        </button>
        <button
          class="btn btn-succes"
          (click)="saveContact(currentContact)"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
