.contacts {
  max-width: 466px;
  width: fit-content;
}

.contacts__body__list {
  height: 50px;
  cursor: pointer;
}

.contacts__body__content {
  overflow-y: scroll;
  height: 325px;
  width: 180px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 40px;
}

.add-btn {
  width: 100%;
  max-width: 212px;
  margin-top: 10px;
}

.contacts__body {
  display: flex;
}
