<div class="contacts">
  <h3 *ngIf="!searchContacts; else searchBlock">Contacts</h3>
  <ng-template #searchBlock>
    <h3>Searched contacts</h3>
  </ng-template>
  <form [formGroup]="searchForm">
    <mat-form-field class="contacts__search">
      <mat-label>Search in contacts</mat-label>
      <input formControlName="searchQuery" type="text" matInput placeholder="Ex. Alex">
    </mat-form-field>
  </form>

  <div *ngIf="!searchContacts" class="contacts__body">
    <div class="contacts__body__content">
      <mat-list role="list">
        <mat-list-item *ngFor="let contact of contacts" role="listitem">
          <a (click)="currentContact = contact" [ngClass]="{ active: currentContact == contact }"
            class="contacts__body__list" aria-current="true">
            <strong>{{ contact.firstName }} {{ contact.lastName }}</strong>
          </a>
        </mat-list-item>
      </mat-list>
    </div>
    <app-contact-preview *ngIf="currentContact" [currentContact]="currentContact"
      (unlinkContact)="unlinkContact()"></app-contact-preview>
  </div>

  <div *ngIf="searchContacts" class="contacts__body">
    <div class="contacts__body__content">
      <mat-list role="list">
        <mat-list-item *ngFor="let contact of searchContacts" role="listitem">
          <a (click)="currentContact = contact" [ngClass]="{ active: currentContact == contact }"
            class="contacts_body__list" aria-current="true">
            <strong>{{ contact.firstName }} {{ contact.lastName }}</strong>
          </a>
        </mat-list-item>
      </mat-list>
    </div>
    <app-contact-preview *ngIf="currentContact" [currentContact]="currentContact"
      (unlinkContact)="unlinkContact()"></app-contact-preview>
  </div>
  <mat-divider></mat-divider>
  <button mat-raised-button class="add-btn" color="primary" (click)="addNewContactForm()">New Contact</button>
</div>