.form-container {
  max-width: 245px;
}
.content {
  padding: 0px 24px 0px 24px;
}

.actions {
  display: flex;
  justify-content: center;
}

.btn-container {
  padding: 0px 12px 5px 0px;
  .btn {
    width: 80px;
  }
}
