.container{
  padding: 20px;
  //background: grey;
}
.contact-form{
  padding: 50px 0;
}
.list-group-item{
  height: 50px;
}
.btn-delete{
  padding: 0 0 0 0px;
}
.scrollingDiv
{
   overflow-y:scroll;
   max-height: 300px;
   margin-top: 15px;
   margin-bottom: 15px;
}
.detailedInfo{
  padding-top: 42px;
  margin-left: 15px;
}
img {
  border-radius: 50%;
}
