<form class="preview-form">
  <mat-card>
    <div class="preview-form__header">
      <h3>Preview</h3>
      <mat-icon class="preview-form__header__icon" aria-hidden="false" fontIcon="close" (click)="unlink()"></mat-icon>
    </div>
    <mat-card-content>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input type="text" readonly="true" matInput value="{{ currentContact.firstName }}">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input type="text" readonly="true" matInput value="{{ currentContact.lastName }}">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input type="text" readonly="true" matInput value="{{ currentContact.phone }}">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="preview-form__action">
      <button mat-stroked-button color="primary" (click)="redirectToEdit()">Edit</button>
    </mat-card-actions>
  </mat-card>
</form>