.preview-form {
  max-width: 245px;
}

.preview-form__header {
  display: flex;
  justify-content:space-between;
  padding: 10px 10px 0px 17px;
}

.preview-form__header__icon {
  cursor: pointer;
}

.preview-form__action {
  display: flex;
  justify-content: center;
}